<link rel="preload" href="/javascripts/hp/_next/static/css/1538dfc39c525c43.css" as="style" />
<link rel="stylesheet" href="/javascripts/hp/_next/static/css/1538dfc39c525c43.css" data-n-g="" />
<noscript data-n-css=""></noscript>
<script defer="" nomodule="" src="/javascripts/hp/_next/static/chunks/polyfills-5cd94c89d3acac5f.js"></script>
<script src="/javascripts/hp/_next/static/chunks/webpack-514908bffb652963.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/framework-91d7f78b5b4003c8.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/main-7e73d61bce33e887.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/pages/_app-85f4ce495628c3ef.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/349-4d659b7d8f10699a.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/675-cf0d11ee13d96573.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/182-2397620d0ecb08bc.js" defer=""></script>
<script src="/javascripts/hp/_next/static/chunks/pages/index-680bfaa93f4645f8.js" defer=""></script>
<script src="/javascripts/hp/_next/static/ShpmyaHfIxKyQDaPWLOar/_buildManifest.js" defer=""></script>
<script src="/javascripts/hp/_next/static/ShpmyaHfIxKyQDaPWLOar/_ssgManifest.js" defer=""></script>
<script src="/javascripts/hp/_next/static/ShpmyaHfIxKyQDaPWLOar/_middlewareManifest.js" defer=""></script>
<div id="__next" data-reactroot="">
  <div class="font-urbanist text-primary-800">
    <div>
      <sticky-nav>
        <div class="sticky top-0 z-10 shadow-sm bg-neutral"></div>
      </sticky-nav>
      <main>
        <div class="relative bg-white w-full h-[800px] lg:h-[900px] bg-bottom bg-no-repeat bg-cover" style="
        background-image: url('/images/hp/hero_group.png');
        "></div>
        <div class="absolute inset-0 flex flex-col bg-bottom bg-no-repeat bg-cover lg:h-full">
          <div class="justify-center i-tems-center h-[100px] flex md:py-12">
            <div class="flex items-center flex-shrink-0 cursor-pointer">
              <img class="block w-auto h-8 lg:hidden" src="/images/hp/logo.svg" alt="Babel"/><img
              class="hidden lg:block w-[160px] h-[40px] w-[160px] h-[40px]"
              src="/images/hp/logo.svg" alt="Babel"/>
            </div>
          </div>
          <div class="flex items-center justify-center -space-x-7 lg:-space-x-8">
            <h1
              class="font-extrabold tracking-tight text-transparent text-display-sm md:text-display-md lg:text-display-lg bg-clip-text bg-gradient-to-r from-gradient to-gradient-2">
              Privacy
            </h1>
            <div class="relative flex items-center justify-center w-28 h-28 lg:w-40 lg:h-40">
              <img src="/images/hp/glow_hero.png" class="w-28 h-28 lg:w-40 lg:h-40" alt="glow"/>
              <div class="absolute z-20 w-20 h-20 lg:w-32 lg:h-32">
                <img src="/images/hp/shield_hero.png" class="w-20 h-20 lg:w-32 lg:h-32"
                     alt="shield"/>
              </div>
            </div>
            <h1
              class="font-extrabold tracking-tight text-transparent text-display-sm md:text-display-md lg:text-display-lg bg-clip-text bg-gradient-to-r from-gradient-2 to-gradient-3">
              First
            </h1>
          </div>
          <h1
            class="-mt-8 font-extrabold tracking-tight text-center text-display-sm md:text-display-md lg:text-display-lg">
            Discussion Platform
          </h1>
          <p
            class="px-4 mt-2 leading-6 text-center text-md text-primary-600 lg:mt-4 lg:text-lg lg:leading-0">
            A safe space to share your views on issues that
            affect your life
          </p>
          <div
            class="flex flex-col items-center justify-center px-4 mt-6 space-y-4 md:flex-row md:space-y-0 md:space-x-4">
            <button
              class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-neutral bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3 h-[50px] text-buttons-md w-full md:w-[190px]">
              Register now
            </button>
            <button
              class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-primary-500 bg-neutral shadow-button-2xl hover:bg-primary-400 hover:text-neutral h-[50px] text-buttons-md w-full md:w-[190px]">
              Log in
            </button>
          </div>
        </div>
        <div class="py-16 lg:py-28">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
            <div class="flex flex-col items-center justify-center md:flex-row md:space-x-2">
              <div class="flex md:w-6/12">
                                    <span style="
                                    box-sizing: border-box;
                                      display: inline-block;
                                      overflow: hidden;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      position: relative;
                                      max-width: 100%;
                                    "><span style="
                                    box-sizing: border-box;
                                      display: block;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      max-width: 100%;
                                    "><img style="
                                    display: block;
                                      max-width: 100%;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                    " alt="" aria-hidden="true"
                                           src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                      alt="lock"
                                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                      decoding="async" data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    "/><noscript><img alt="lock" srcset="
                                                        /images/hp/lock.png?imwidth=640  1x,
                                                        /images/hp/lock.png?imwidth=1080 2x
                                                    " src=/images/hp/lock.png?imwidth=1080" decoding="async"
                                                      data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    " loading="lazy"/></noscript></span>
              </div>
              <div class="flex md:w-6/12">
                <div class="flex flex-col">
                  <p class="mt-8 font-bold uppercase text-label-sm text-primary-500">
                    What is babel?
                  </p>
                  <h1
                    class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md undefined">
                    Blockchain-based bulletin board
                    system
                    <!-- -->
                    <span
                      class="text-transparent bg-clip-text bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3">for
                                                electronic
                                                liberty</span>
                  </h1>
                  <p class="mt-6 text-neutral-600 text-md lg:text-lg lg:pr-20">
                    BABEL is a discussion platform
                    that prioritizes privacy by
                    taking advantage of blockchain
                    features such as
                    decentralization, anonymization,
                    immutability, and verifiability
                    of transactions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-16 lg:py-28">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
            <div class="flex flex-col-reverse items-center justify-center md:flex-row md:space-x-2">
              <div class="flex md:w-6/12">
                <div class="flex flex-col">
                  <p class="mt-8 font-bold uppercase text-label-sm text-primary-500">
                    WHY BABEL
                  </p>
                  <h1
                    class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md undefined">
                    Today&#x27;s social media raises
                    <!-- -->
                    <span
                      class="text-transparent bg-clip-text bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3">concerns
                                                about users&#x27;
                                                privacy</span>
                  </h1>
                  <p class="mt-6 text-neutral-600 text-md lg:text-lg lg:pr-24">
                    Current laws are not good enough
                    to protect people&#x27;s privacy
                    on social media. BABEL is
                    designed to provide a safe space
                    to express your opinions while
                    protecting your identity.
                  </p>
                </div>
              </div>
              <div class="flex justify-end md:w-6/12">
                                    <span style="
                                    box-sizing: border-box;
                                      display: inline-block;
                                      overflow: hidden;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      position: relative;
                                      max-width: 100%;
                                    "><span style="
                                    box-sizing: border-box;
                                      display: block;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      max-width: 100%;
                                    "><img style="
                                    display: block;
                                      max-width: 100%;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                    " alt="" aria-hidden="true"
                                           src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                      alt="privacy"
                                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                      decoding="async" data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    "/><noscript><img alt="privacy" srcset="
                                                        /images/hp/privacy.png?imwidth=640  1x,
                                                        /images/hp/privacy.png?imwidth=1080 2x
                                                    " src=/images/hp/privacy.png?imwidth=1080" decoding="async"
                                                      data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    " loading="lazy"/></noscript></span>
              </div>
            </div>
          </div>
        </div>
        <div class="py-16 text-center lg:py-28 bg-neutral-50">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
            <p class="mt-8 font-bold uppercase text-label-sm text-primary-500">
              INCLUSION AND PRIVACY MATTERS
            </p>
            <h1 class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md undefined">
              Everyone is invited.<br/><span
              class="text-transparent bg-clip-text bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3">Everyone&#x27;s
                                    identity is
                                    protected.</span>
            </h1>
            <p class="mt-6 text-neutral-600 text-md lg:text-lg lg:px-64">
              BABEL is designed for minorities, refugees,
              and communities. We do not discriminate
              against anyone who participates in the
              discussions. Everyone&#x27;s opinions are
              anonymous and cannot be traced back to you
              IRL.
            </p>
            <div class="flex flex-col mt-24 space-y-20 lg:mt-32 lg:flex-row lg:space-x-8 lg:space-y-0">
              <div class="bg-neutral p-10 rounded-[8px] shadow-xl lg:w-4/12">
                <div class="mx-auto mr-8 -mt-28">
                                        <span style="
                                        box-sizing: border-box;
                                          display: inline-block;
                                          overflow: hidden;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          position: relative;
                                          max-width: 100%;
                                        "><span style="
                                        box-sizing: border-box;
                                          display: block;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          max-width: 100%;
                                        "><img style="
                                        display: block;
                                          max-width: 100%;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                        " alt="" aria-hidden="true"
                                               src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                          alt="shield"
                                          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                          decoding="async" data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        "/><noscript><img alt="shield" srcset="
                                                            /images/hp/shield_wrapper.png?imwidth=256 1x,
                                                            /images/hp/shield_wrapper.png?imwidth=640 2x
                                                        " src=/images/hp/shield_wrapper.png?imwidth=640" decoding="async"
                                                          data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        " loading="lazy"/></noscript></span>
                </div>
                <p class="font-bold text-center text-label-md text-neutral-700 lg:px-10">
                  Blockchain-Based Authentication
                </p>
                <p class="mt-5 text-sm text-center text-neutral-600 lg:px-4">
                  The identity is managed on the
                  blockchain, where it is impossible
                  to edit or forge it without your
                  consent.
                </p>
              </div>
              <div class="bg-neutral p-10 rounded-[8px] shadow-xl lg:w-4/12">
                <div class="mx-auto mr-8 -mt-28">
                                        <span style="
                                        box-sizing: border-box;
                                          display: inline-block;
                                          overflow: hidden;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          position: relative;
                                          max-width: 100%;
                                        "><span style="
                                        box-sizing: border-box;
                                          display: block;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          max-width: 100%;
                                        "><img style="
                                        display: block;
                                          max-width: 100%;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                        " alt="" aria-hidden="true"
                                               src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM2IiBoZWlnaHQ9IjIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                          alt="discussion"
                                          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                          decoding="async" data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        "/><noscript><img alt="discussion" srcset="
                                                            /images/hp/discussion_wrapper.png?imwidth=256 1x,
                                                            /images/hp/discussion_wrapper.png?imwidth=640 2x
                                                        " src=/images/hp/discussion_wrapper.png?imwidth=640"
                                                          decoding="async" data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        " loading="lazy"/></noscript></span>
                </div>
                <p class="font-bold text-center text-label-md text-neutral-700 lg:px-10">
                  Verified Discussion Forum
                </p>
                <p class="mt-5 text-sm text-center text-neutral-600 lg:px-4">
                  Voting is reliable and transparent.
                  No individual user can cheat or
                  influence the voting results.
                </p>
              </div>
              <div class="bg-neutral p-10 rounded-[8px] shadow-xl lg:w-4/12">
                <div class="mx-auto mr-8 -mt-28">
                                        <span style="
                                        box-sizing: border-box;
                                          display: inline-block;
                                          overflow: hidden;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          position: relative;
                                          max-width: 100%;
                                        "><span style="
                                        box-sizing: border-box;
                                          display: block;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                          max-width: 100%;
                                        "><img style="
                                        display: block;
                                          max-width: 100%;
                                          width: initial;
                                          height: initial;
                                          background: none;
                                          opacity: 1;
                                          border: 0;
                                          margin: 0;
                                          padding: 0;
                                        " alt="" aria-hidden="true"
                                               src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                          alt="privacy"
                                          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                          decoding="async" data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        "/><noscript><img alt="privacy" srcset="
                                                            /images/hp/privacy_wrapper.png?imwidth=256 1x,
                                                            /images/hp/privacy_wrapper.png?imwidth=640 2x
                                                        " src=/images/hp/privacy_wrapper.png?imwidth=640" decoding="async"
                                                          data-nimg="intrinsic" style="
                                        position: absolute;
                                          top: 0;
                                          left: 0;
                                          bottom: 0;
                                          right: 0;
                                          box-sizing: border-box;
                                          padding: 0;
                                          border: none;
                                          margin: auto;
                                          display: block;
                                          width: 0;
                                          height: 0;
                                          min-width: 100%;
                                          max-width: 100%;
                                          min-height: 100%;
                                          max-height: 100%;
                                        " loading="lazy"/></noscript></span>
                </div>
                <p class="font-bold text-center text-label-md text-neutral-700 lg:px-10">
                  User Anonymity and Security
                </p>
                <p class="mt-5 text-sm text-center text-neutral-600 lg:px-4">
                  Third parties, including the system
                  itself, have no access to your
                  personal data.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="block px-4 py-10 text-center md:hidden bg-primary-700">
          <h1 class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md undefined">
                            <span
                              class="text-transparent bg-clip-text bg-gradient-to-r from-neutral via-neutral-200 to-neutral-400">Are
                                you ready<br/></span><span
            class="text-transparent bg-clip-text bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3">to
                                join BABEL?</span>
          </h1>
          <p class="my-6 text-sm text-neutral">
            Time to take back control of your personal data.
          </p>
          <div class="flex flex-col items-center my-6 space-y-4">
            <button
              class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-neutral bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3 h-[50px] text-buttons-md w-full">
              Register now
            </button>
            <button
              class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-primary-500 bg-neutral shadow-button-2xl hover:bg-primary-400 hover:text-neutral h-[50px] text-buttons-md w-full">
              Log in
            </button>
          </div>
        </div>
        <div class="hidden py-16 lg:py-28 md:block">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
            <div class="bg-no-repeat bg-center bg-cover h-[520px] w-full flex flex-col pt-10" style="
            background-image: url('/images/hp/cta_bg.png');
            ">
              <div class="flex items-center p-20">
                <div class="w-[400px]">
                  <h1
                    class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md">
                                            <span
                                              class="text-transparent bg-clip-text bg-gradient-to-r from-neutral via-neutral-200 to-neutral-400">Are
                                                you ready<br/></span><span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3">to
                                                join BABEL?</span>
                  </h1>
                  <p class="my-6 text-md text-neutral">
                    Time to take back control of
                    your personal data.
                  </p>
                  <div class="flex items-center mt-6 space-x-4">
                    <button
                      class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-neutral bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3 h-[50px] text-buttons-md w-[180px]">
                      Register now
                    </button>
                    <button
                      class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-primary-500 bg-neutral shadow-button-2xl hover:bg-primary-400 hover:text-neutral h-[50px] text-buttons-md w-[180px]">
                      Log in
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-20 lg:py-28">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
            <div class="flex flex-col-reverse items-center justify-between w-full md:flex-row">
              <div class="md:w-7/12">
                <h1
                  class="mt-6 font-extrabold tracking-tight text-display-sm lg:text-display-md undefined">
                  Get in touch with us
                </h1>
                <p class="mt-6 text-neutral-600 text-md lg:text-lg undefined">
                  Don&#x27;t hesitate to reach out to
                  us, our team is happy to answer any
                  questions that you may have.
                </p>
                <form class="mt-6">
                  <div class="flex flex-col lg:flex-row lg:space-x-4">
                    <div class="lg:w-1/2">
                      <div class="mb-2">
                        <input id="name" name="name" placeholder="Name*"
                               class="appearnace-none form-input block w-full h-[60px] bg-neutral-50 rounded-[8px] p-4 text-lg font-medium placeholder-neutral-600 border-2 border-neutral-50 focus:outline-none focus:border-primary-500"/>
                        <div class="mt-1 text-xs text-red-500"></div>
                      </div>
                    </div>
                    <div class="lg:w-1/2">
                      <div class="mb-2">
                        <input id="email" name="email" placeholder="Email*"
                               class="appearnace-none form-input block w-full h-[60px] bg-neutral-50 rounded-[8px] p-4 text-lg font-medium placeholder-neutral-600 border-2 border-neutral-50 focus:outline-none focus:border-primary-500"/>
                        <div class="mt-1 text-xs text-red-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="-mt-1 lg:mt-2">
                    <div class="mb-2">
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                    <textarea id="message" name="message" rows="4"
                                                              placeholder="Message*"
                                                              class="form-input form-input block w-full bg-neutral-50 rounded-[8px] p-4 text-lg font-medium placeholder-neutral-600 border-1 border-neutral-50 focus:outline-none focus:border-primary-500"></textarea>
                        <div class="mt-1 text-xs text-red-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col mt-4 space-y-2 lg:flex-row lg:space-y-0">
                    <button
                      class="inline-flex px-6 items-center justify-center rounded-[8px] text-center font-bold tracking-wide transition ease-out duration-300 text-neutral bg-gradient-to-r from-gradient via-gradient-2 to-gradient-3 h-[50px] text-buttons-md lg:w-[260px] lg:mr-6">
                      Send message
                    </button>
                    <p class="text-sm text-neutral-700 lg:pr-20">
                      By submitting this form, you
                      agree to our <br/><a
                      class="font-medium cursor-pointer text-neutral-800 hover:underline hover:text-neutral-700">terms
                      and conditions</a>.
                    </p>
                  </div>
                </form>
              </div>
              <div class="flex items-center justify-center -ml-5 lg:justify-end md:w-5/12">
                                    <span style="
                                    box-sizing: border-box;
                                      display: inline-block;
                                      overflow: hidden;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      position: relative;
                                      max-width: 100%;
                                    "><span style="
                                    box-sizing: border-box;
                                      display: block;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                      max-width: 100%;
                                    "><img style="
                                    display: block;
                                      max-width: 100%;
                                      width: initial;
                                      height: initial;
                                      background: none;
                                      opacity: 1;
                                      border: 0;
                                      margin: 0;
                                      padding: 0;
                                    " alt="" aria-hidden="true"
                                           src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEzIiBoZWlnaHQ9IjQxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="/></span><img
                                      alt="contact us"
                                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                      decoding="async" data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    "/><noscript><img alt="contact us" srcset="
                                                        /images/hp/contact.png?imwidth=640 1x,
                                                        /images/hp/contact.png?imwidth=828 2x
                                                    " src=/images/hp/contact.png?imwidth=828" decoding="async"
                                                      data-nimg="intrinsic" style="
                                    position: absolute;
                                      top: 0;
                                      left: 0;
                                      bottom: 0;
                                      right: 0;
                                      box-sizing: border-box;
                                      padding: 0;
                                      border: none;
                                      margin: auto;
                                      display: block;
                                      width: 0;
                                      height: 0;
                                      min-width: 100%;
                                      max-width: 100%;
                                      min-height: 100%;
                                      max-height: 100%;
                                    " loading="lazy"/></noscript></span>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="py-20">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-12 undefined">
          <div class="space-y-4 md:flex md:justify-between md:items-center md:space-y-0">
            <div class="md:w-[20%]">
              <div class="flex items-center flex-shrink-0 cursor-pointer">
                <img class="block w-auto h-6 lg:hidden" src="/images/hp/logo.svg" alt="Babel"/><img
                class="hidden lg:block w-[100px] h-[40px] w-[160px] h-[40px]"
                src="/images/hp/logo.svg" alt="Babel"/>
              </div>
            </div>
            <div
              class="flex flex-col md:space-x-6 md:w-[60%] md:flex-row md:justify-center md:items-center">
              <a class="my-1 font-medium tracking-wide text-neutral-600 hover:text-neutral-800"
                 href="/terms-of-service">Terms of Service</a><a
              class="my-1 font-medium tracking-wide text-neutral-600 hover:text-neutral-800"
              href="/privacy-policy">Privacy Policy</a><a
              class="my-1 font-medium tracking-wide text-neutral-600 hover:text-neutral-800"
              href="/documentation">Documentation</a>
            </div>
            <div class="space-x-3 md:w-[20%] flex md:justify-end md:items-center">
              <a class="flex items-center justify-center w-12 h-12 rounded-full bg-neutral-100 hover:bg-primary-400"
                 href="/"><img src="/images/hp/instagram_icon.svg" class="w-6 h-6"/></a><a
              class="flex items-center justify-center w-12 h-12 rounded-full bg-neutral-100 hover:bg-primary-400"
              href="/"><img src="/images/hp/twitter_icon.svg" class="w-6 h-6"/></a><a
              class="flex items-center justify-center w-12 h-12 rounded-full bg-neutral-100 hover:bg-primary-400"
              href="/"><img src="/images/hp/linkedin_icon.svg" class="w-6 h-6"/></a>
            </div>
          </div>
          <div class="flex items-center my-4" aria-hidden="true">
            <div class="w-full border-t border-neutral-200"></div>
          </div>
          <div class="flex items-center justify-center">
            <p class="font-medium tracking-wide text-neutral-600">
              Copyright @ BABEL
              <!-- -->2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="__NEXT_DATA__" type="application/json">
            {
                "props": { "pageProps": {} },
                "page": "/",
                "query": {},
                "buildId": "ShpmyaHfIxKyQDaPWLOar",
                "nextExport": true,
                "autoExport": true,
                "isFallback": false,
                "scriptLoader": []
            }

</script>